<% provide(:title, "bootstrap")%> 
<div class="center jumbotron">
    <%= image_tag "goldenretriever.jpeg", :height => 200, :width => 360 %>
    
<h1 class="text-uppercase mb-0">Services:</h1>
    <h2 class="font-weight-light mb-0">Dog Walking - Drop-In Visits - House Sitting</h2>
    <%= image_tag "Beagle.jpeg", :height => 175, :width => 400 %>
</div>

<section class="bg-primary text-white mb-0" id="testimonials">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Testimonials:</h2>
        <hr class="testimonials mb-5">
        <div class="row">
          <div class="col-lg-4 ml-auto">
              <h3>Melissa P.</h3>
            <p class="lead">Grace is truly a "dog person," she is absolutely wonderful with dogs and puppies.</p>
          </div>
          <div class="col-lg-4 mr-auto">
              <h3>Erin L.</h3>
            <p class="lead">Grace is SUCH a sweetheart and lover of animals. When we lived in Indiana her family watched our dog, Ruby and she was such a wonderful pet parent. 
            She is kind, reliable and gave Ruby all the love she needed.</p>
          </div>
          <div class="col-lg-4 mr-auto">
              <h3>Lauren S.</h3>
            <p class="lead">You will thoroughly enjoy having Grace take care of your dogs and puppies.</p>
          </div>
        </div>
      </div>
</section>